:root {
  --padding-status-bar-notifications: clamp(
    0.5rem,
    calc(var(--card-width) / 4),
    0.5rem
  );
}

.notifications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  backdrop-filter: blur(10px);
}

.notification-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  font-size: var(--fs-status-bar-cell);
  background-color: chocolate;
  border: 1px solid rgb(75, 38, 11);
  border-radius: var(--border-radius-status-bar-cell);
  padding: var(--padding-status-bar-notifications);
}

.notification-item.success {
  background: linear-gradient(
    135deg,
    rgba(76, 175, 80, 0.9),
    rgba(56, 142, 60, 0.9)
  );
  /* color: white; */
}

.notification-item.error {
  background: linear-gradient(
    135deg,
    rgba(244, 67, 54, 0.9),
    rgba(211, 47, 47, 0.9)
  );
  /* color: white; */
  border-left: 4px solid #f44336;
}

.notification-icon {
  font-size: 20px;
  line-height: 1;
}

.notification-item.combo {
  background: linear-gradient(
    135deg,
    rgba(255, 152, 0, 0.95),
    rgba(230, 81, 0, 0.95)
  );
  /* font-size: calc(var(--fs-status-bar-cell) * 1.4); */
  font-weight: 900;
  text-shadow: 0 0 10px rgba(255, 200, 0, 0.8);
}

.notifications-container .combo-timer {
  background-color: red;
  height: 5px;
  border-radius: 5px;
}

.notification-item.combo_bonus {
  background: linear-gradient(
    135deg,
    rgba(76, 175, 80, 0.95),
    rgba(27, 94, 32, 0.95)
  );
  font-weight: 700;
}

.notification-icon {
  font-size: 20px;
  line-height: 1;
}

.notification-message {
  letter-spacing: 0.5px;
  color: gold;
  line-height: 1;
}
