:root {
  --padding-footer: clamp(0.5rem, calc(var(--card-width) / 4), 1rem);
  --border-field-footer: 0.4rem outset rgb(70, 9, 32);
  --background-color-field-footer: rgba(70, 9, 32, 0.7);
}

.field-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  align-items: stretch;
  gap: calc(var(--card-width) / 1.5);
  width: 100%;
  height: auto;
  background-color: var(--background-color-field-footer);
  border-top: var(--border-field-footer);

  /* --br-status-bar-footer находится в PlayingField.css */
  border-top-left-radius: var(--br-status-bar-footer);
  border-top-right-radius: var(--br-status-bar-footer);
  margin: 0;
  padding: 0;
  margin-top: auto;
}

@media (max-height: 38rem) and (orientation: portrait),
  (max-width: 35rem) and (orientation: portrait) {
  .field-footer {
    gap: 0;
  }
}

@media (max-height: 38rem) and (orientation: landscape) {
  .field-footer {
    display: none;
  }
}
