:root {
  --border-r-slider: 2em;
  --setting-toggle-slider-transition: 0.2s;
  --setting-toggle-label-width: 60px;
  --setting-toggle-label-height: 34px;
  --setting-toggle-slider-width: 38px;
  --setting-toggle-slider-height: 38px;
  --setting-toggle-slider-left: 4px;
  --setting-toggle-slider-top: calc(
    (var(--setting-toggle-slider-height) - var(--setting-toggle-label-height)) /
      2
  );
  --setting-toggle-slider-translateX: calc(
    var(--setting-toggle-label-width) - var(--setting-toggle-slider-width) +
      (2 * var(--setting-toggle-slider-left))
  );
}

.setting-toggle-label {
  position: relative;
  display: inline-block;
  width: var(--setting-toggle-label-width);
  height: var(--setting-toggle-label-height);
  cursor: pointer;
}

/* Скрываем стандартный чекбокс */
.setting-toggle-label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Трек - фон переключателя */
.setting-toggle-track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: calc(var(--setting-toggle-slider-transition) * 2);
  pointer-events: none; /* чтобы клики проходили к label */
}

/* Ползунок */
.setting-toggle-slider {
  position: absolute;
  width: var(--setting-toggle-slider-width);
  height: var(--setting-toggle-slider-height);
  left: calc(-1 * var(--setting-toggle-slider-left));
  top: calc(-1 * var(--setting-toggle-slider-top));
  background:
    linear-gradient(
      45deg,
      transparent 49%,
      rgba(0, 0, 0, 0.1) 50%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      rgba(0, 0, 0, 0.1) 50%,
      transparent 51%
    ),
    linear-gradient(
      90deg,
      transparent 49%,
      rgba(0, 0, 0, 0.05) 50%,
      transparent 51%
    ),
    #4caf50;
  background-size:
    5px 5px,
    5px 5px,
    3px 3px,
    auto;
  transition: var(--setting-toggle-slider-transition);
  border-radius: 50%;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.2),
    inset 0 -2px 4px rgba(0, 0, 0, 0.2),
    inset 0 2px 4px rgba(255, 255, 255, 0.6);
  cursor: pointer;
  will-change: transform;
  pointer-events: none; /* чтобы клики проходили к label */
}

.setting-toggle-checkbox:checked + .setting-toggle-track {
  background-color: #4caf50;
}

.setting-toggle-checkbox:checked
  + .setting-toggle-track
  + .setting-toggle-slider {
  transform: translateX(var(--setting-toggle-slider-translateX));
}

/* Дополнительно: стиль для "вдавленного" состояния */
/* input:active + .setting-toggle-slider::before {
  width: 30px;
  margin-left: -2px;
} */
