:root {
  --bw-game-rules-accordion: 1vmin;
}

.game-rules-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-rules-container {
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  flex: 1;
  min-height: 0;
}

.game-rules-container .shadow {
  border: none;
}

.game-rules-container .shadow,
.game-rules-container .shadow .card-body,
.game-rules-container .shadow .card-body .card,
.game-rules-container .shadow .card-body .accordion,
.game-rules-container .shadow .card-body .accordion-item {
  background-color: transparent;
}


.game-rules-container::-webkit-scrollbar {
  width: 6px;
}

.game-rules-container::-webkit-scrollbar-track {
  background: rgba(255, 215, 0, 0.1);
  border-radius: 3px;
}

.game-rules-container::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 3px;
}

.luck-message {
  font-weight: bold;
  color: #198754;
}

.game-rules-container .accordion-button {
  color: black; /* Приоритет над системными стилями */
  background-color: yellow;
  -webkit-tap-highlight-color: transparent; /* Убирает синюю подсветку */
  text-emphasis-color: black; /* Для Safari */
  -webkit-text-fill-color: black; /* Для старых версий */
  -webkit-appearance: none;
  appearance: none; /* Отключает системные стили */
}

/* Анимации для аккордеона */
.accordion-button:not(.collapsed) {
  background-color: rgba(13, 110, 253, 0.1);
}

/* Кастомные стили для карточек */
/* .card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
} */

@media (max-width: 30rem) and (orientation: portrait) {
  .game-rules-wrapper,
  .game-rules-container,
  .shadow-card-body {
    padding: 0;
  }
}

@media (max-height: 38rem) and (orientation: landscape) {
  :root {
    --bw-game-rules-accordion: 0.5vh;
  }

  .game-rules-wrapper,
  .game-rules-container,
  .shadow-card-body {
    padding: 0;
  }

  .game-rules-clear-btn-container {
    margin: 0;
    margin-top: 2vh;
  }

  .game-rules-container .shadow .card-body {
    padding: 1vh;
  }

  .game-rules-container .shadow .card-body .card,
  .game-rules-container .shadow .card-body .accordion {
    border-radius: 1vh;
  }

  .game-rules-container .shadow .card-body .accordion .accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .game-rules-container
    .shadow
    .card-body
    .accordion
    .accordion-item:first-child {
    border-top-left-radius: calc(1vh + var(--bw-game-rules-accordion) / 10);
    border-top-right-radius: calc(1vh + var(--bw-game-rules-accordion) / 10);
  }

  .game-rules-container
    .shadow
    .card-body
    .accordion
    .accordion-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: calc(1vh + var(--bw-game-rules-accordion) / 10);
    border-bottom-right-radius: calc(1vh + var(--bw-game-rules-accordion) / 10);
  }

  .game-rules-common-goal-h5,
  .game-rules-victory-conditions-h5 {
    font-size: 4vh;
  }

  .game-rules-common-goal-p,
  .game-rules-victory-conditions-p {
    font-size: 3vh;
  }

  .game-rules-container
    .shadow
    .card-body
    .accordion
    .accordion-item
    .accordion-button {
    font-size: 4vh;
  }

  .game-rules-container
    .shadow
    .card-body
    .accordion
    .accordion-item
    .accordion-body {
    font-size: 3vh;
    padding: 1vh;
  }

  .game-rules-clear-btn {
    margin: 0;
    padding: 0.3rem;
    line-height: 1;
    border-radius: 0.3rem;
    text-align: center;
  }
}
