:root {
  /* --padding-status-bar: clamp(0.5rem, calc(var(--card-width) / 4), 1rem); */
  --padding-status-bar: calc(var(--card-width) / 30);
  --gap-status-bar-cols: calc(var(--card-width) / 30);
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  background-color: rgba(70, 9, 9, 0.7);
  border-bottom: outset black;
  /* background-color: transparent; */
  /* --br-status-bar-footer находится в PlayingField.css */
  border-bottom-left-radius: var(--br-status-bar-footer);
  border-bottom-right-radius: var(--br-status-bar-footer);
  padding: var(--padding-status-bar);
  margin: 0;
}

.status-bar .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-status-bar-cols);
}

.status-bar.row-cols-3 > * {
  flex: 1 1 auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-height: 600px) {
  .status-bar {
    flex-direction: column;
    width: fit-content;
    height: 100%;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--br-status-bar-footer);
    border-top-right-radius: var(--br-status-bar-footer);
    border-right: outset black;
  }
}

@media (max-width: 700px) {
  .status-bar {
    gap: calc(var(--padding-status-bar));
  }
}

@media (min-width: 1000px) {
  .status-bar {
    justify-content: center;
  }
}
