:root {
  --bw-stat-row-tr: 1vmin;
  --fs-stat-row-tr-left-right-td: clamp(0.8rem, 1.5vmin, 1.5rem);
}

.stat-row-tr {
  border-bottom: var(--bw-stat-row-tr) solid rgba(32, 32, 30, 0.5);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 100%;
  /* background: linear-gradient(135deg, #076324, #0a8a2f); */
}

.stat-row-tr:nth-child(odd) {
  background: linear-gradient(135deg, #076324, #0a8a2f);
}

/* Ячейки таблицы */
.stat-row-tr .left-td,
.stat-row-tr .right-td {
  padding: 1vh;
  font-size: var(--fs-stat-row-tr-left-right-td);
  color: #ffd700;
}

.stat-row-tr .left-td:first-child {
  font-weight: bold;
  color: rgba(3, 3, 0, 0.8);
  background-color: transparent;
}

.stat-row-tr .right-td {
  text-align: right;
  font-weight: 600;
  color: #42402f;
  background-color: transparent;
}

@media (max-height: 38rem) and (orientation: landscape) {
  .stat-row-tr .left-td,
  .stat-row-tr .right-td {
    font-size: 3vh;
  }
}
