:root {
  --width-undo-btn-span: 1.5rem;
  --height-undo-btn-span: 1.5rem;
  --br-undo-btn-span: 50%;
  --br-width-undo-btn-span: calc(var(--width-undo-btn-span) / 20);
}

.undo-btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.undo-btn-span {
  position: absolute;
  z-index: 1;
  margin: auto;
  right: calc((var(--width-undo-btn-span) / 2) * -1);
  top: calc((var(--width-undo-btn-span) / 2) * -1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--width-undo-btn-span);
  height: var(--height-undo-btn-span);
  line-height: 1;
  text-align: center;
  border: var(--br-width-undo-btn-span) solid black;
  background-color: yellow;
  color: black;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}
