:root {
  --gap-field-cells: 5px;
}

.pile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
  height: var(--card-height);
  color: rgb(0, 0, 0);
  gap: var(--gap-field-cells);
  /* background-color: yellow; */

  border: 1px solid #1a1a2e;
  border-radius: 3px;

  position: relative;

  text-align: center;
  background: transparent;
  /* border-radius: var(--card-radius); */
}

.pile.can-drop {
  border: 5px solid green;
}

.pile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.pile-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: rgb(16, 3, 71);
  font-size: 2rem;
}

.pile-span-need-by-redeals {
  color: gold;
}

.stocks {
  cursor: pointer;
}
