:root {
  --gap-stock-waste: 10px;
  --gap-field-container: 10px;
  --gap-cards-container-row: 55px;
  --gap-cards-container-column: 5px;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-field-container);
}

/* min-height - означает, что height меньше чем width */
.field-container-min-height {
  flex-direction: row;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-cards-container-column);
}

/* swf - означает stock, waste и foundations */
/* min-height - означает, что height меньше чем width */
.field-swf-container-min-height {
  flex-direction: column;
}

/* swf - означает stock, waste и foundations */
/* min-height - означает, что height меньше чем width */
.cards-swf-container-min-height {
  gap: var(--card-width);
}

.landscape-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  gap: 1.5vh;
}

/* @media (orientation: landscape) { */
@media (max-height: 38rem) and (orientation: landscape) {
  .field-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cards-swf-container-min-height {
    flex-direction: column;
    margin-bottom: auto;
    gap: 5vh;
  }
  .cards-fns-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(var(--card-height) / 25);
    width: calc(var(--card-width) * 2 + var(--card-height) / 25);
  }

  :root {
    --card-width: 12vmin;
  }
}
