.all-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1.5rem; */
  justify-items: center;
  align-items: start;

  /* display: flex; */
  /* flex-wrap: wrap; */
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
}

.all-items-container.fons {
  grid-template-columns: repeat(1, 1fr);
}

.all-items-container::-webkit-scrollbar {
  width: 8px;
}

.all-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.all-items-container::-webkit-scrollbar-thumb {
  background: #ffd966;
  border-radius: 4px;
}

/* Пустое состояние */
.empty-items {
  text-align: center;
  padding: 60px 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}

/* Адаптивность для мобильных устройств */
.all-items-container {
  scrollbar-width: thin;
  scrollbar-color: #ffd966 rgba(0, 0, 0, 0.2);
}

.all-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.all-items-container::-webkit-scrollbar-thumb:hover {
  background: #ffb347;
}
