:root {
  --gap-vol-control: 0.5em;
  --back-color-settings-el: rgba(255, 255, 0, 0.308);
  --border-radius-btn-input: 0.3em;
  --setting-items-scrollbar-width: 6px;
}

.setting-items {
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid #c5b310;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.setting-items::-webkit-scrollbar {
  width: var(--setting-items-scrollbar-width);
}

.setting-items::-webkit-scrollbar-track {
  background: rgba(255, 215, 0, 0.1);
  border-radius: 3px;
}

.setting-items::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 3px;
}

.container-setting-item {
  padding: calc(var(--card-width) / 10) calc(var(--card-width) / 5);
  border-bottom: 1px solid #c5b310;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-vol-control);
  width: 100%;
  padding-left: 0;
  padding-right: var(--setting-items-scrollbar-width);
}

.container-setting-item:nth-child(even) {
  background-color: rgb(211, 127, 67);
}

.container-setting-item:last-child {
  border-bottom: none;
}

.setting-item-description-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
}

.setting-item-description-label {
  border: 0 solid;
  background: var(--back-color-settings-el);
  padding: 0.5em;
  border-radius: var(--border-radius-btn-input);
  width: fit-content;
  padding-left: var(--setting-items-scrollbar-width);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.setting-item-description-p {
  font-size: 1rem;
  padding-left: var(--setting-items-scrollbar-width);
}

.setting-info-modal-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.setting-info-modal-small-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
}

.setting-info-modal-small-p {
  color: rgb(202, 105, 15);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

@media (max-height: 400px) {
  .setting-item-description-label,
  .span-volume-change.setting-item-description-label {
    font-size: 0.6rem;
  }

  .setting-item-description-p {
    font-size: 0.5rem;
  }
}
